<div class="order-header">Resumen de la orden</div>
<app-product-list [products]="products"></app-product-list>
<div class="order-edit-cont">
    <button class="btn btn-secondary right">Editar</button>
</div>
<div class="subtotal-box">
    <table>
        <tr>
            <td>Subtotal</td>
            <td class="right">{{ total | currency }}</td>
        </tr>
        <tr>
            <td>Envío</td>
            <td class="right">a calcular</td>
        </tr>
    </table>
</div>
<div class="total-box">
    <table>
        <tr>
            <td>Total</td>
            <td class="right">{{ total | currency }}</td>
        </tr>
    </table>
</div>