<ul class="order-list">
    <li>
        <div class="img"></div>
        <div class="description">Cofre Lady embrem 75ML ECM + 7,5ML ECP + 100ML B</div>
        <div class="price">$1,980.00</div>
    </li>
    <li>
        <div class="img"></div>
        <div class="description">Cofre Lady embrem 75ML ECM + 7,5ML ECP + 100ML B</div>
        <div class="price">$1,980.00</div>
    </li>
    <li>
        <div class="img"></div>
        <div class="description">Cofre Lady embrem 75ML ECM + 7,5ML ECP + 100ML B</div>
        <div class="price">$1,980.00</div>
    </li>
    <li>
        <div class="img"></div>
        <div class="description">Cofre Lady embrem 75ML ECM + 7,5ML ECP + 100ML B</div>
        <div class="price">$1,980.00</div>
    </li>
</ul>